body {
    font-size: 16px;
}

ol.a {
    list-style-type: lower-alpha;
}
ul.b {
    list-style-type: circle;
}

.a li:nth-child(1) {
    color: red;
}

em {
    font-size: 2em;
}

.unimportant {
    font-size: 1em;
}
